<h1>Akinator</h1>

<form action="./akinator" method="get">
	<select name="pregunta">
		<option value="genero">es chique?</option>
	</select>
	<input type="submit" value="Posta!?">
</form>

<table>
	<tr>
		<td><p><img width="20%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQkyLzY3QksrdoZP_1Ralq4i1eV3ry0vicdFBYPHrhG2EvYdev7"></p>Yamila</td>
	</tr>
</table>
<p>Verdadero</p>

