<header style="border-style: solid;">
		<h1 style="padding:5;">Akinator</h1>
		<h3 style="float:right; padding:5;">1/5</h3>
	</div>
	<form action="./akinator" method="get" style="padding:5;">
		<select name="pregunta">
			<option value="genero">es chique?</option>
		</select>
		<input type="submit" value="Posta!?">
	</form>
	<br>
</header>
	<div style="float:left; border-style: solid; width: 70%">
		<table>
			<tr>
				<td style="border-style: solid; text-align:center;"><a href="/akinator/Anitta"><p><img width="15%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQkyLzY3QksrdoZP_1Ralq4i1eV3ry0vicdFBYPHrhG2EvYdev7"></p>Anitta</a></td>
				<td style="border-style: solid; text-align:center;"><a href="/akinator/Anitta"><p><img width="15%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQkyLzY3QksrdoZP_1Ralq4i1eV3ry0vicdFBYPHrhG2EvYdev7"></p>Anitta</a></td>
				<td style="border-style: solid; text-align:center;"><a href="/akinator/Anitta"><p><img width="15%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQkyLzY3QksrdoZP_1Ralq4i1eV3ry0vicdFBYPHrhG2EvYdev7"></p>Anitta</a></td>
				<td style="border-style: solid; text-align:center;"><a href="/akinator/Anitta"><p><img width="15%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQkyLzY3QksrdoZP_1Ralq4i1eV3ry0vicdFBYPHrhG2EvYdev7"></p>Anitta</a></td>
		</table>
	</div>
	<div style="float:right; border-style: solid; width: 28%; padding:5;">
	<ul>
		<li>es chique?: <span style="font-weight: bold;">Verdadero</span></li>
	</ul>
	</div>


